.description {
  display: flex;
  justify-content: space-between;
  p {
    margin-left: 32px;
    font-size: 15px;
  }
  ul {
    display: flex;
    margin-right: 26px;
    list-style: none;
    color: #74798c;
    li {
      &::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 5px;
        margin-bottom: 1px;
        background-color: red;
        border-radius: 50%;
      }
      margin-left: 32px;
      list-style-type: {
        background: red;
      }
    }
    #weight {
      &::before {
        background-color: black;
      }
    }
  }
}
