.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  img {
    margin-right: 50px;
  }
  .numberAndUnit {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
  .type {
    font-size: 14px;
    margin: 0;
  }
}
