.leftNavBar {
  width: 117px;
  height: 678px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 256px;
  position: absolute;
  @media screen and (max-width: 900px) {
    display: none;
  }

  .copyright {
    margin-top: 150px;
    margin-right: 10px;
  }
}
