.topNav {
  width: 100%;
  height: 91px;
  background-color: black;
  z-index: 3;
  display: flex;
  img {
    width: 178px;
    height: 61px;
    margin-left: 28px;
    margin-top: 18px;
  }
  .navigation {
    width: 100%;
    font-size: 24px;

    ul {
      display: flex;
      justify-content: space-around;
      height: 100%;
      align-items: center;
      margin-top: 0;
      li {
        color: white;
        list-style-type: none;
        cursor: pointer;
      }
      .accueil {
        text-decoration: none;
        color: white;
      }
    }
  }
}
