.mainContent {
  display: flex;
  margin-left: 117px;
  display: flex;
  flex-direction: column;
  .graphsAndDailyContainer {
    display: flex;
    justify-content: center;
    .graphsContainer {
      width: 835px;
      height: 613px;
      .dailyActivity {
        width: 100%;
        height: 320px;
      }
      .otherGraph {
        width: 100%;
        height: 263px;
        margin-top: 30px;
      }
    }
    .dailyIntake {
      // background-color: rgb(160, 182, 160);
      width: 258px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 20px;
    }
  }
}
