.mainContent {
  display: flex;
  margin-left: 117px;
  display: flex;
  flex-direction: column;
  .graphsAndDailyContainer {
    display: flex;
    justify-content: center;
    .graphsContainer {
      width: 835px;
      height: 613px;
      .dailyActivity {
        width: 100%;
        height: 320px;
        background-color: #fbfbfb;
        border-radius: 5px;
      }
      .otherGraph {
        width: 100%;
        height: 263px;
        margin-top: 30px;
        border: 1px solid red;
        display: flex;
        justify-content: space-between;
        .averageSessions {
          background-color: #ff0000;
          width: 258px;
          height: 263px;
          border-radius: 5px;
          .pDescription {
            font-size: 15px;
            color: aliceblue;
            opacity: 0.6;
            margin-top: 29px;
            margin-left: 34px;
          }
          .lineGraphContainer {
          }
          .lineChart {
          }
        }
        .performances {
          background-color: aqua;
          width: 258px;
          height: 263px;
          border-radius: 5px;
        }
        .score {
          background-color: royalblue;
          width: 258px;
          height: 263px;
          border-radius: 5px;
        }
      }
    }
    .dailyIntake {
      width: 258px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
    }
  }
}
