.mainContent {
  display: flex;
  margin-left: 117px;
  display: flex;
  flex-direction: column;
  .graphsAndDailyContainer {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    .graphsContainer {
      border: 1px solid red;
      width: 835px;
      height: 613px;
      .dailyActivity {
        width: 100%;
        height: 320px;
        background-color: violet;
      }
      .otherGraph {
        background-color: darkblue;
        width: 100%;
        height: 263px;
        margin-top: 30px;
      }
    }
    .dailyIntake {
      border: 1px solid green;
      width: 258px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
