.mainContent {
  display: flex;
  margin-left: 117px;
  display: flex;
  flex-direction: column;
  .graphsAndDailyContainer {
    display: flex;
    justify-content: center;
    .graphsContainer {
      width: 835px;
      height: 613px;
      .dailyActivity {
        width: 100%;
        height: 320px;
        background-color: #fbfbfb;
        border-radius: 5px;
      }
      .otherGraph {
        width: 100%;
        height: 263px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        .averageSessions {
          background-color: #ff0000;
          width: 258px;
          height: 263px;
          border-radius: 5px;
          .pDescription {
            font-size: 15px;
            color: aliceblue;
            opacity: 0.6;
            margin-top: 29px;
            margin-left: 34px;
          }
          .lineGraphContainer {
          }
          .lineChart {
          }
        }
        .performances {
          background-color: rgb(46, 51, 51);
          width: 258px;
          height: 263px;
          border-radius: 5px;
        }
        .score {
          width: 258px;
          height: 263px;
          border-radius: 5px;
          background-color: #fbfbfb;
          position: relative;
          .pScore {
            margin-left: 30px;
            margin-top: 24px;
          }

          .radarBarChart {
            width: 100%;
            height: 100%;
            // padding-top: 20px;
            position: absolute;
            top: 0;
          }
          .userObjectif {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .percent {
              text-align: center;
              font-size: 26px;
            }
            p {
              margin: 0;
              font-size: 16px;
            }
          }
        }
      }
    }
    .dailyIntake {
      width: 258px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
    }
  }
}
