.leftNavBar {
  width: 117px;
  height: 1024%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 256px;
  position: absolute;
  .copyright {
    margin-top: 150px;
  }
}
